.devcontainer/
docker/
frontend/
rankings/
.dockerignore
.env.example
.gitignore
CONTRIBUTING.md
docker-compose.yaml
Dockerfile
FUNDING.yml
LICENSE
package-lock.json
package.json
README.md
RULES.md

# from .gitignore

.env
.vscode
.vim
*.sh
*.txt
*.dem
backend/lphub
backend/tmp
rankings/rankings
rankings/tmp
