#about {
    overflow: auto;
    overflow-x: hidden;
    position: relative;

    width: calc(100% - 380px);
    height: 100vh;
    left: 350px;

    padding-right: 30px;

    font-size: 24px;
    font-family: BarlowSemiCondensed-Regular;
    color: #cdcfdf;

}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 60px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #about {
        width: calc(100% - 340px);
        left: 310px;
        padding-right: 25px;
        font-size: 22px;
    }

    h1 {
        font-size: 68px;
    }

    h2 {
        font-size: 52px;
    }
}

@media screen and (max-width: 768px) {
    #about {
        width: 100%;
        left: 0;
        padding: 70px 20px 20px 20px;
        height: calc(100vh - 60px);
        font-size: 18px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }
}