main {
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    width: calc(100% - 23.75rem);
    height: 100vh;
    left: 21.875rem;
    padding-right: 1.875rem;
    font-size: 2.5rem;
    font-family: BarlowSemiCondensed-Regular;
    color: #cdcfdf;
    transition: all 0.3s ease;
}

a {
    color: inherit;
    width: fit-content;
}

body {
    overflow-x: hidden;
    background-color: #141520;
    margin: 0;
}

.loader {
    animation: loader 1.2s ease infinite;
    background-size: 400% 300%;
    background-image: linear-gradient(-90deg, #202232 0%, #202232 25%, #2a2c41 50%, #202232 75%, #202232 100%);
    user-select: none;
}

.loader-text {
    animation: loader 1.2s ease infinite;
    background-size: 400% 300%;
    background-image: linear-gradient(-90deg, #202232 0%, #202232 25%, #2a2c41 50%, #202232 75%, #202232 100%);
    user-select: none;
    color: #00000000;
    border-radius: 62.5rem;
}

@keyframes loader {
    0% {
        background-position: 100% 20%;
    }

    50% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.loader {
    width: 3rem;
    height: 3rem;
    border: 0.3125rem solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'BarlowCondensed-Bold';
    src: local('BarlowCondensed-Bold'), url(./fonts/BarlowCondensed-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'BarlowCondensed-Regular';
    src: local('BarlowCondensed-Regular'), url(./fonts/BarlowCondensed-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'BarlowSemiCondensed-Regular';
    src: local('BarlowSemiCondensed-Regular'), url(./fonts/BarlowSemiCondensed-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'BarlowSemiCondensed-SemiBold';
    src: local('BarlowSemiCondensed-Regular'), url(./fonts/BarlowSemiCondensed-SemiBold.ttf) format('truetype');
}

@media screen and (max-width: 768px) {
    * {
        box-sizing: border-box;
    }

    main {
        width: 100%;
        left: 0;
        padding: 5rem 20px 1rem 20px;
        height: auto;
        min-height: 100vh;
        font-size: 1.5rem;
    }

    .loader {
        width: 2.5rem;
        height: 2.5rem;
        border: 0.25rem solid #FFF;
    }
}

@media screen and (min-width: 1920px) {
    main {
        width: calc(100% - 25rem);
        left: 23rem;
        padding-right: 2rem;
    }
}